version: '3'

networks:
  rasp_net:
    driver: bridge

services:
  nginx:
    networks:
      - rasp_net
    build: ./nginx
    restart: always
    image: nginx_cust
    volumes:
      - ./html:/usr/share/nginx/html/
      - ./well-known:/usr/share/nginx/well-known
      - ./vscode/projects/dist:/usr/share/nginx/html/vscode
      - ./letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    logging:
        driver: "json-file"
        options:
            max-file: "5"
            max-size: "10m"
  certbot:
    networks:
      - rasp_net
    image: certbot/certbot:v1.17.0
    command: certonly --noninteractive --agree-tos -d rasp.gapmoe.net --register-unsafely-without-email --webroot -w /usr/share/nginx/well-known/
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/logs:/var/log/letsencrypt
      - ./certbot/data:/var/www/certbot
