version: '3'

networks:
  rasp_net:
    driver: bridge

services:
  nginx:
    networks:
      - rasp_net
    build: ./nginx
    restart: always
    image: nginx_cust
    volumes:
      - ./html:/usr/share/nginx/html/
      - ./well-known:/usr/share/nginx/well-known
      - ./vscode/projects/dist:/usr/share/nginx/html/vscode
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    logging:
        driver: "json-file"
        options:
            max-file: "5"
            max-size: "10m"
  codeserver:
    image: linuxserver/code-server:version-v3.11.0
    deploy:
        resources:
            limits:
              memory: 512M
    container_name: code
    networks:
      - rasp_net  
    restart: always
    user: root
    volumes:
      - ./vscode/config:/config
#      - ./vscode/data:/data
#        If u use https://github.com/jwilder/nginx-proxy (recommended)
    environment:
      VIRTUAL_HOST: rasp.gapmoe.net
      VIRTUAL_PORT: 8443
